.activity-item {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: var(--bg);
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.activity-item-main {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.activity-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  min-width: 0;
  padding: 14px 14px 0px 14px;
}

.activity-item-name {
  margin: 0;
  color: var(--text-h);
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  min-height: 22px;
}

.activity-item-location {
  margin: 0;
  color: var(--text);
  font-size: 16px;
  transition: opacity 0.25s;
}

.activity-item-location:hover {
  opacity: 0.6;
}

.activity-item-metrics {
  margin-top: 14px;
  display: flex;
  gap: 0px 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
}

.activity-item-metric {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: var(--text-h);
  font-size: 14px;
  white-space: nowrap;
}

.activity-item-metric-icon {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}

.activity-item-map-holder {
  flex-shrink: 0;
  min-width: 52px;
  height: 115px;
  min-width: 95px;
  width: 40%;
  border-radius: 0px 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.activity-item-link {
  width: 100%;
  border-radius: 0px 0px 11px 11px;
  padding: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #009DFF;
  color: white;
  background: transparent;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  transition: opacity 0.2s;
  background-color: #009DFF;
}

.activity-item-link:hover {
  opacity: 0.7;
}
