.past-activity-item-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.25s;
}

.past-activity-item-link:hover {
    opacity: 0.5;
}

.past-activity-item {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: var(--bg);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.past-activity-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  min-width: 0;
  padding: 14px;
}

.past-activity-item-name {
  margin: 0;
  color: var(--text-h);
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  /* min-height: 22px; */
}

.past-activity-item-metrics {
  /* margin-top: 14px; */
  display: flex;
  gap: 0 10px;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* width: 150px; */
}

.past-activity-item-metric {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: var(--text-h);
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: -4px;
}

.past-activity-item-metric-icon {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}

.past-activity-item-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  transform: scaleX(-1);
  padding-left: 10px;
}

.past-activity-item-arrow-icon {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}
